div#invoerVeld
    label Voer ja naam in 
    input#input()
    button#Knop Submit
p Er zijn momenteel #{aantal} spelers aan het wachten

script.
    document.getElementById("Knop").addEventListener("click", () => {
        let naam = (document.getElementById("input").value)
        ws.send(naam)
    })
