div#AANMELDEN
    div#invoerVeld
        label#Naamvraag Voer je naam in 
        input#input()
        button#Knop Submit
    p#AantalWachtend Er zijn momenteel #{aantal} spelers aan het wachten
    p#AantalWachtend #{message}
script.
    document.getElementById("Knop").addEventListener("click", () => {
        update = true
        let naam = (document.getElementById("input").value)
        ws.send(naam)
    })
    document.getElementById("input").addEventListener("change", () => {
        update = false
    })
    //@ sourceURL=aanmelden.js