div#AANMELDEN
    div#invoerVeld
        label#Naamvraag Voer je naam in 
        input#input()
        button#Knop Submit
script.
    var player_name = ""
    document.getElementById("Knop").addEventListener("click", () => {
        update = true
        player_name = (document.getElementById("input").value)
        ws.send(player_name)
    })
    document.getElementById("input").addEventListener("change", () => {
        update = false
    })
    //Deze code is alleen voor debuggen. Uitgeschakeld in productie
    function makeid(length) {
        let result = '';
        const characters = 'a';
        const charactersLength = characters.length;
        let counter = 0;
        while (counter < length) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
            counter += 1;
        }
        return result;
    }
    if (debug_mode && false) {
        fake_name = makeid(5)
        ws.send(fake_name)
        player_name = fake_name 
    }
    //@ sourceURL=aanmelden.js