doctype html
html
    head
        title Wiezen 
        link(rel ="stylesheet" type="text/css" href="/css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        span Er zijn 
        span#aantalMensen 1
        span  mensen ingelogd
        br
        div#invoerVeld
            label Voer ja naam in 
            input#input()
            button#Knop submit
        div#spelerNaam
            span Jij bent 
            span#player.naam player
            span#spelerNummer.naam  1

            script(src="script/script.js")