doctype html
html
    head
        title Wiezen 
        link(rel ="stylesheet" type="text/css" href="css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div#content

        script. 
            var ws_URL = `wss://${location.hostname}#{ws_port_suffix}#{ws_port}`
        script(src="script/script.js")
