    body
        div#invoerVeld
            label Voer ja naam in 
            input#input()
            button#Knop Submit
        div#spelerNaam
            span Jij bent 
            span#player.naam player
            span#spelerNummer.naam  1
        