div.container_spelend 
    #spelSpeler1 
        p #{speler1}
    #spelSpeler2
        p #{speler2}
    #spelSpeler3
        p #{speler3}
    #kaartenSpeler1 
    #kaartenSpeler2 
    #kaartenSpeler3 
    #tafelKaarten 
    #eigenKaarten 