div#Wachtend
    div#NaamWachtend #{name}
    div#AantalWachtende Er zijn #{aantal} spelers wachtende
    ul#LijstWachtende 
        each p in clients
            li= p.naam

script.
    player_name = '#{name}'